<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="icon" href="https://reddcoin.com/wp-content/uploads/2014/03/reddcoinlogo.png" sizes="32x32">
    <link rel="stylesheet" href="./sheets/index.css">
    <title>Reddcoin Faucet</title>
    <style type="text/css">
        body {
          background-color: #DADADA;
        }
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: -100px;
        }
        .column {
          max-width: 450px;
        }
        .content {
            text-align: center;
        }
      </style>
</head>
<body>
	<div class="ui middle aligned center aligned grid">
            <div class="column">
                    <div class="content">
                        <h1><bold>AdBlock plugin detected :(</bold></h1>
                        <h5>This website relies on advertising income to ensure the highest possible payouts.</h5>
                        <h5>Please disable Adblock to continue using this website.</h5>
                        <a class="ui primary button" href="https://rddfaucets.info/">Reload</a>
                    </div>
            </div>
	</div>
</body>
</html>